!!!
%html
  %head
    %title Olympics
    %script{:type => "text/javascript",
            :src  => "js/bootstrap.min.js"}
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/bootstrap-responsive.min.css")
  %body
    %div.container
      %div.navbar
        %div.navbar-inner
          %div.container
            %a.brand{href: "#"}
              Olympics Medal Count
