!!!
%html
  %head
    %title Olympics
    - if locals[:env] == "production"
      %script{:type => "text/javascript", :src  => "js/google-analytics.js"}
    %script{:type => "text/javascript", :src  => "js/bootstrap.min.js"}
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/bootstrap-responsive.min.css")
  %body
    %div.container
      %div.navbar
        %div.navbar-inner
          %div.container
            %a.brand{href: "/"}
              Olympics 2012
            %div.nav-collapse
              %div.nav
                %li
                  %a{href: "/"}
                    Medal count
                %li
                  %a{href: "/no_medal"}
                    Countries without medal
