= partial "header"
%div.medals-table
  %table.tables.table-striped.medals.table-bordered.table-condensed{style: "margin-left: auto;margin-right: auto;text-align:center"}
    %thead
      %tr
        %th
          Flag
        %th
          Country
    %tbody
      - countries.each do |country|
        %tr
          %td= country.name
          %td
            %img{src: "http://www.london2012.com/" + country.flagSrc}
